name = "beta-go-route-yourself"
compatibility_date = "2024-12-05"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".svelte-kit/cloudflare"

# ---------------------------------------------------
# Production environment
# ---------------------------------------------------
[env.production]

# [!code note] --- COMMENTED OUT FOR FIRST DEPLOY ---
 [[env.production.durable_objects.bindings]]
 name = "TRIP_INDEX_DO"
 class_name = "TripIndexDO"
script_name = "trip-index-worker"

[env.production.vars]
# Production KV Namespaces
[[env.production.kv_namespaces]]
binding = "BETA_LOGS_KV"
id = "9551bf35d9cc4f75a5210c52d906da24"

[[env.production.kv_namespaces]]
binding = "BETA_USERS_KV"
id = "569eff477945483283fa854d7bdf6b14"

[[env.production.kv_namespaces]]
binding = "BETA_LOGS_TRASH_KV"
id = "9203d2e85d9d47dabb167faf4e5121a9"

[[env.production.kv_namespaces]]
binding = "BETA_USER_SETTINGS_KV"
id = "63469d2321704b1ebcc02d01a894e167"

[[env.production.kv_namespaces]]
binding = "BETA_HUGHESNET_KV"
id = "6a0e248bebff430f89b0de3b5dde8aee"

[[env.production.kv_namespaces]]
binding = "BETA_PLACES_KV"
id = "2030b20c6baa46fe8c7bb620aaf0f8c1"

[[env.production.kv_namespaces]]
binding = "BETA_DIRECTIONS_KV"
id = "3fb03d50a94e4b2cb4fc3f54bdfd45d7"

[[env.production.kv_namespaces]]
binding = "BETA_SESSIONS_KV"
id = "d395b64dcd0641f5a44d94c5ef5628eb"

# ---------------------------------------------------
# Preview environment
# ---------------------------------------------------
[env.preview]

# [!code note] --- COMMENTED OUT FOR FIRST DEPLOY ---
 [[env.preview.durable_objects.bindings]]
 name = "TRIP_INDEX_DO"
 class_name = "TripIndexDO"
script_name = "trip-index-worker"

[env.preview.vars]
# Preview KV Namespaces
[[env.preview.kv_namespaces]]
binding = "BETA_LOGS_KV"
id = "babfd9307ecd4a1993a382ebe30c5a16"

[[env.preview.kv_namespaces]]
binding = "BETA_USERS_KV"
id = "a245706e522b444fa9b67fa9a1b88d6a"

[[env.preview.kv_namespaces]]
binding = "BETA_LOGS_TRASH_KV"
id = "4dbad92a0fc44f9b91c8a46165c8e40b"

[[env.preview.kv_namespaces]]
binding = "BETA_USER_SETTINGS_KV"
id = "63469d2321704b1ebcc02d01a894e167"

[[env.preview.kv_namespaces]]
binding = "BETA_HUGHESNET_KV"
id = "6a0e248bebff430f89b0de3b5dde8aee"

[[env.preview.kv_namespaces]]
binding = "BETA_PLACES_KV"
id = "2030b20c6baa46fe8c7bb620aaf0f8c1"

[[env.preview.kv_namespaces]]
binding = "BETA_DIRECTIONS_KV"
id = "3fb03d50a94e4b2cb4fc3f54bdfd45d7"

[[env.preview.kv_namespaces]]
binding = "BETA_SESSIONS_KV"
id = "d395b64dcd0641f5a44d94c5ef5628eb"